---
import Layout from "../layouts/Layout.astro";
import Exp from "../components/Exp.astro";
import Stack from "../components/Stack.astro";
import ImgSelf from "../assets/portrait.jpg";
import Dark from "../components/Dark.astro";
import Jobs from "../components/Jobs.astro";
import Events from "../components/Events.astro";
---

<Layout>
  <section class="flex justify-center min-h-screen px-8">
    <div class="max-w-4xl w-full py-8">
      <div
        class="flex flex-col lg:flex-row items-center lg:items-start space-y-8 lg:space-y-0 lg:space-x-8"
      >
        <!-- Left: Personal Image -->
        <div class="flex-shrink-0">
          <img
            src={ImgSelf.src}
            alt="pic of me :3"
            class="w-32 h-32 lg:w-40 lg:h-40 object-cover"
          />
        </div>

        <!-- Right: Info About Me -->
        <div
          class="flex flex-col text-center lg:text-left w-full"
        >
          <h1 class="text-2xl lg:text-3xl font-bold mb-4 font-mono">
            ＞ kyle trinh
          </h1>
          <!-- some info about me -->
          <p class="text-lg lg:text-xl text-gray-700 mb-4  theme-transition">
            cse + math @ ucsd 26
          </p>
          <p class="text-m lg:text-m text-gray-700 theme-transition">
            "obsession > discipline > motivation"
          </p>
          <p class="text-m lg:text-m text-gray-700 theme-transition">
            linux rice: <a
              href="https://github.com/pink10000/dotfiles"
              class="text-blue-500 underline">dotfiles</a
            >
          </p>

          <!-- socials -->
          <div
            class="flex justify-between items-center w-full mt-4"
          >
            <!-- Left content -->
            <div class="flex justify-center lg:justify-start space-x-4">
              <a
                href="https://www.linkedin.com/in/kyletrinh/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 underline text-l"
              >
                <p>linkedin</p>
              </a>
              <p>|</p>
              <a
                href="https://github.com/pink10000"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 underline text-l"
              >
                <p>github</p>
              </a>
              <p>|</p>
              <p>kytrinh@ucsd.edu</p>
            </div>

            <!-- Right-aligned dark mode toggle -->
            <Dark />
          </div>
        </div>
      </div>

      <!-- bar -->
      <hr class="mt-3 mb-2 border-t-2 border-gray-300" />

      <div>
        <!-- Notes -->
        <p>
          You can find my notes
            <a href="/notes/" class="text-blue-500 underline">here</a>.
        </p>

        <!-- Research Interests -->
        <!-- <h2 class="text-2xl lg:text-2xl font-bold mb-2">research interests</h2>
        <ul class="theme-transition list-disc list-inside text-gray-700 mb-4">
          <li>distributed networked systems</li>
          <li>algebraic formalization</li>
          <li>llm assisted proof generation</li>
        </ul> -->
        <!-- Experience -->
        <h2 class="text-2xl lg:text-2xl font-bold mb-2">places i worked at</h2>
        <Jobs />

        <!-- Projects -->
        <h2 class="text-2xl lg:text-2xl font-bold mb-2">stuff i worked on</h2>
        <Exp />

        <!-- Wins -->
        <h2 class="text-2xl lg:text-2xl font-bold mb-2">events i won</h2> 
        <Events />

        <!-- Stack -->
        <h2 class="text-2xl lg:text-2xl font-bold mb-2">tech stack(s)</h2>
        <Stack />

        <!-- Blog -->
        <!-- <h2 class="text-2xl lg:text-2xl font-bold mb-4">blog</h2>
        <p class="text-gray-700 theme-transition mb-4">
          <li> 
            <a href="/blog/keyboard" class="text-blue-500 underline">building a split keyboard</a>
          </li>
        </p> -->
        <!-- <ul class="list-disc list-inside text-gray-700">
          <li>
            <a href="/blog/post1" class="text-blue-500 underline">Blog Post 1</a
            >
          </li>
          <li>
            <a href="/blog/post2" class="text-blue-500 underline">Blog Post 2</a
            >
          </li>
          <li>
            <a href="/blog/post3" class="text-blue-500 underline">Blog Post 3</a
            >
          </li>
        </ul> -->
      </div>
    </div>
  </section>
</Layout>
