<button
  id="darkModeToggle"
  class="flex items-center justify-center bg-light-base01 text-light-base03 w-6 h-6 rounded hover:bg-light-base02 dark:bg-dark-base01 dark:text-dark-base06 dark:hover:bg-dark-base02"
>
  <span class="material-icons-outlined block text-base">light_mode</span>
</button>
<script>
  const toggleButton = document.getElementById("darkModeToggle");
  const rootElement = document.documentElement;
  const darkButton =
    '<span class="material-icons-outlined block text-base">dark_mode</span>';
  const lightButton =
    '<span class="material-icons-outlined block text-base">light_mode</span>';

  // Load saved theme
  const savedTheme = localStorage.getItem("theme");
  if (toggleButton) {
    if (savedTheme) {
      rootElement.classList.add(savedTheme);
      toggleButton.innerHTML = savedTheme === "dark" ? darkButton : lightButton;
    }

    // Function to switch theme
    const switchTheme = () => {
      if (rootElement.classList.contains("dark")) {
        rootElement.classList.remove("dark");
        localStorage.setItem("theme", "light");
        toggleButton.innerHTML = darkButton;
      } else {
        rootElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
        toggleButton.innerHTML = lightButton;
      }
    };

    // Toggle dark mode
    toggleButton.addEventListener("click", () => {
      switchTheme();
    });
  }
</script>
