---
import VertBar from "./VertBar.astro"
---

<ul class="grid grid-cols-[auto_2px_1fr] gap-x-4 gap-y-4 text-gray-700 mb-4">
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right">SURFStore</span>
    <VertBar />
    <span>
      A fault-tolerant, asynchronous, distributed, networked database that
      supports file storage and retrieval using the RAFT consensus algorithm as
      part of CSE 224. Used Golang, gRPC, Protobuf, TCP/IP.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right">junkfish</span>
    <VertBar />
    <span>
      A Chess bot running on low-power recycled IoT microcontroller units on a
      custom chess engine in C++. Uses the minimax algorithm with alpha-beta
      pruning. Won 1st place at Fall 2024 UCSD IEEE Quarterly Projects.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >DevOps Intern <br /> @ Insulet</span
    >
    <VertBar />
    <span>
      Optimized CI/CD processes, reducing conflict resolution time by 14% with
      Python scripts. Designed a CLI for developers and automated permission
      management using REST APIs.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right">BlazeGuard.ai</span>
    <VertBar />
    <span>
      Trained a ResNet 18-layer CNN on Canadian wildfire satellite images over
      the last 30 years to predict wildfire outbreaks. Won 2nd place @ UCSD
      DiamondHacks 2024.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right">Taxi Predictor</span>
    <VertBar />
    <span>
      Engineered a predictive model utilizing Polynomial Regression to forecast
      taxi fares based on historical data. Built another model with a Decision
      Tree to predict taxi trip duration. Applied feature engineering on dataset
      of over 1 million records and optimized using scikit-learn's GridSearchCV.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >Successerator <br /> Android App</span
    >
    <VertBar />
    <span>
      Developed interactive UI elements for an Android To-Do app in an 6 person
      team with Agile Development. Used Java, Android Studio, JUnit, and
      Espresso (UI Testing). Built for CSE 110.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >Capacitive Touch <br />Keyboard Software</span
    >
    <VertBar />
    <span>
      Developed cross-compatible UI to program custom-made touchpads for rhythm
      games. Built with ESP32 S3 microcontroller, Flet (Python wrapper for
      Flet), pyautogui, and pyserial. Awarded the Best Project Demo Award by
      IEEE out of 108 participants. IEEE QP FA23.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >REST API Error <br/> Handling</span
    >
    <VertBar />
    <span>
      Conducted research on REST API error handling, creating a Flask-based web
      coding environment to collect data on how software engineers handle errors
      to write code. Former research assistant at SALAD Lab @ UCSD under
      Professor Coblenz.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >Game of Life <br> Simulator</span
    >
    <VertBar />
    <span>
      Implemented Conway's Game of Life using C. Hand-wrote Assembly to optimize
      main loop generation performance by 30.5x. Placed 8th out of 450
      students. Built for CSE 30.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >TUAS Blog Writer</span
    >
    <VertBar />
    <span>
      I write posts about the Triton Unmanned Aerial Systems team and promote their brand on LinkedIn.
    </span>
  </li>
  <li class="contents">
    <span class="font-bold whitespace-nowrap text-right"
      >CSE Instructional
      <br /> Assistant</span
    >
    <VertBar />
    <span>
      Tutored CSE 11 @ FA23, CSE 29 @ SP24, CSE 8A @ FA24. Always paying it forward to our communities.
    </span>

</ul>
