<div class="flex justify-center items-center space-x-2 mt-8 text-sm text-light-base05 dark:text-dark-base05">
  <a
    href="https://kytrinh.me/ringfairy/kytrinh-siteweb/previous"
    class="text-light-base0B dark:text-dark-base0B underline hover:opacity-80"
  >
    ← previous
  </a>
  <a
    href="https://kytrinh.me/ringfairy/"
    class="text-light-base0B dark:text-dark-base0B underline hover:opacity-80 font-bold"
  >
    upbring
  </a>
  <a
    href="https://kytrinh.me/ringfairy/kytrinh-siteweb/next"
    class="text-light-base0B dark:text-dark-base0B underline hover:opacity-80"
  >
    next →
  </a>
</div>
