<section>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 text-center">
    <!-- Languages -->
    <div>
      <h3 class="text-lg font-semibold">languages</h3>
      <ul class="list-none">
        <li>Java</li>
        <li>Rust</li>
        <li>C/C++</li>
        <li>Python</li>
        <li>Golang</li>
        <li>Matlab</li>
        <li>Lean4 + Coq</li>
        <li>fish + bash</li>
        <li>ARM Assembly</li>
      </ul>
    </div>
    <!-- Frameworks -->
    <div>
      <h3 class="text-lg font-semibold">frameworks</h3>
      <ul class="list-none">
        <li>gRPC</li>
        <li>JUnit</li>
        <li>Grafana</li>
        <li>Protobuf</li>
        <li>Prometheus</li>
        <li>numpy/pandas</li>
        <li>Flask/Django</li>
        <li>VictoriaMetrics</li>
        <li>pytorch/TensorFlow/scikit-learn</li>
      </ul>
    </div>
    <!-- Developer Tools -->
    <div>
      <h3 class="text-lg font-semibold">dev tools</h3>
      <ul class="list-none">
        <li>Git</li>
        <li>VSCode</li>  <!-- remove when i find something to replace it with -->
        <li>Docker</li>
        <li>OpenAPI</li>
        <li>Ansible</li>
        <li>Kubernetes</li>
        <li>Android Studio</li>
        <li>Bitbucket/Bamboo/Jira</li>
        <li>Linux (Arch, Ubuntu, Debian)</li>
      </ul>
    </div>
  </div>
</section>
