---
const { title = "kytrinh portfolio" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="theme-transition bg-light-base00 text-light-base03 dark:bg-dark-background dark:text-dark-base04">
    <main>
      <slot />
    </main>
    <footer>
      <div class="text-center pb-4 pt-2">
        <p>
          Built with <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-light-base0B dark:text-dark-base0B"
          >
            Astro
          </a>
          and <a
            href="https://tailwindcss.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-light-base0B dark:text-dark-base0B"
          >
            TailwindCSS
          </a>
        </p>
        <p>
          © {new Date().getFullYear()} kyle. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
